$color-background: linear-gradient(to bottom right,orange,rgb(194, 187, 187));
$color-grey-light: rgb(119, 114, 114);
$color-white: white;
$color-background2: linear-gradient(rgba(255, 255, 255, 0) 22.49%, rgb(255, 255, 255) 73.49%), linear-gradient(264.03deg, rgb(220, 229, 251) -10.27%, rgb(234, 236, 255) 35.65%, rgb(213, 236, 253) 110.66%);
$color-background3: linear-gradient(to top left,rgba(255, 255, 255, 0) 22.49%, rgb(255, 255, 255) 73.49%);