.footer-phone {
    background-image: $color-background3;
    .footer-container{
        .row{
            width: 75%;
            margin: auto;
            align-items: center;
            ul{
                display: flex;
                justify-content: flex-end;
                li {
                    padding: 20px;
                    list-style: none;
                    display: inline;
                    &:hover{
                        color: $color-grey-light;
                        cursor: pointer;
                    }
                }
            }
            
        }
    }
    
}