.header-product {
  background-color: $color-white;
  padding: 20px 0;
  & > .header-product-content {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    #phone {
      border-radius: 15px;
      padding-left: 5px;
    }
    .title {
      font-size: 1.2rem;
    }
  }
}

.product-content {
  width: 100%;
  background: $color-background2;
  & > .row {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    .product-item {
      img {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
        border-radius: 8px;
        height: 95px;
      }
      .text {
        padding-top: 1rem;
        padding-bottom: 0.2rem;
        font-size: 0.4rem;
        .text-title1 {
          padding-bottom: 0.2rem;
          word-wrap: break-word;
          white-space: normal;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }

      .text2 {
        font-size: 0.5rem;
        color: #ffc107;
        align-items: center;
      }

      .btn-add-cart {
        font-size: 12px;
        .button-cart {
          & > span {
            display: none;
          }
          background-color: #f5f9fe;
          color: #2a73dd;
          padding: 5px 5px;
          border: none;
          border-radius: 15px;
          box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
          letter-spacing: 1px;
          transition: 0.2s;
          &:hover {
            box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
          }
        }
      }
    }
  }
}

@include responsive("md") {
  .header-product {
    background-color: $color-white;
    & > .header-product-content {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: auto;
      #phone {
        border-radius: 15px;
        padding: 2px 50px 2px 10px;
      }
      .title {
        font-size: 2rem;
      }
    }
  }

  .product-content {
    width: 100%;
    background: $color-background2;
    & > .row {
      display: flex;
      width: 75%;
      margin: auto;
      align-items: center;
      .product-item {
        width: 80%;
        flex-wrap: wrap;
        padding: 2rem;
        position: relative;
        img {
          width: 100%;
          background-size: cover;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          border-radius: 8px;
          height: 270px !important;
        }
        .text {
          justify-content: space-between;
          padding-top: 2rem;
          padding-bottom: 1rem;
          font-size: 1.5rem;
        }

        .text2 {
          font-size: 0.75rem;
          color: #ffc107;
        }

        #overlaySP {
          width: 100%;
          height: 100%;
          box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
          background-color: rgba(230, 45, 76, 0.5);
          transition: 0.2s;
          position: absolute;
          top: 0;
          left: 0;
        }

        .btn-add-cart {
          .button-cart {
            & > span {
              display: inline;
              padding-left: 5px;
            }
            background-color: #f5f9fe;
            color: #2a73dd;
            padding: 5px 25px;
            border: none;
            border-radius: 15px;
            box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
            letter-spacing: 1px;
            transition: 0.2s;
            &:hover {
              box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
            }
          }
        }
      }
    }
  }
}

// @include responsive("md"){
//     .header-product {
//         background-color: $color-white;
//         &>.header-product-content {
//             display: flex;
//             justify-content: space-around;
//             width: 100%;
//             margin: auto;
//             #phone{
//                 border-radius: 15px;
//                 padding: 2px 50px 2px 10px;
//             }
//             .title {
//                 font-size: 2rem;
//             }
            
//         }
//     }
    
//     .product-content{
//         width: 100%;
//         background: $color-background2;
//         padding-top: 100px;
//         &>.row {
//             display: flex;
//             width: 75%;
//             margin: auto;
//             .product-item {
//                 width: 80%;
//                 flex-wrap: wrap;
//                 padding: 2rem;
//                 position: relative;
//                 img {
//                     width: 100%;
//                     box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
//                     border-radius: 8px;
//                     height: auto;
//                 }
//                 .text {
//                     justify-content: space-between;
//                     padding-top: 2rem;
//                     padding-bottom: 1rem;
//                     font-size: 1.5rem;
//                 }
                
//                 .text2 {
//                     font-size: 0.75rem;
//                     color: #ffc107;
//                 }                
    

                
//                 .btn-add-cart{
//                     .button-cart{
//                         &>span {
//                             display: inline;
//                             padding-left: 5px;
//                         }
//                         background-color: #f5f9fe;
//                         color: #2a73dd;
//                         padding: 5px 25px;
//                         border: none;
//                         border-radius: 15px;
//                         box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
//                         letter-spacing: 1px;
//                         transition: 0.2s;
//                         &:hover{
//                             box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
//                         }
//                     }
    
//                 }
//             }
//         }
        
//     }
// }
